{% extends "playlists/index.html" %}

{% block content %}


     {% for x in array_table_elements %}
         <h1>Información de {{ x.name  }}</h1>


        <table class="table">
            <tr>
                <td>
                    {% if geniusLogin %}
                        <a class="fontStyle">Seguidores: </a><a>{{ x.followers }}</a><br>
                        <a class="fontStyle">Nombre en Facebook: </a><a>{{ x.facebook_name }}</a><br>
                        <a class="fontStyle">Nombre en Instagram: </a><a>{{ x.instagram_name }}</a><br>
                        <a class="fontStyle">Nombre en Twitter: </a><a>{{ x.twitter_name }}</a><br>
                    {% endif %}
                </td>

                <td>
                    <div class="artistImage">
                        <a><img src={{ x.image }}  class="img-fluid" alt=""></a>
                    </div>
                </td>

            </tr>
        </table>
     {% endfor %}
{% endblock %}