{% extends "playlists/index.html" %}

{% block content %}


     {% for x in array_table_elements %}
         <h1>Información de {{ x.name  }}</h1>


        <table class="table">
            <tr>
                <td>
                    <div class="infoGeneral">
                        <a class="fontStyle">Seguidores: </a><a>{{ x.followers }}</a><br>
                        <a class="fontStyle">Popularidad: </a><a>{{ x.popularity }}</a><br>
                    </div>
                    
                    {% if geniusLogin %}
                    <a class="fontStyle">Nombre en Instagram: </a><a>{{ instagram_name }}</a><br>
                    <!--
                        <div class="infoGenius">
                            {% if instagram_name %}
                                <a class="fontStyle">Nombre en Instagram: </a><a>{{ instagram_name }}</a><br>
                            {% else %}
                            <a class="fontStyle">Nombre en Instagram: </a><a>Sin datos</a><br>
                            {% endif %}
                        </div>
                        -->
                    {% endif %}

                </td>

                <td>
                    <div class="artistImage">
                        <a><img src={{ x.image }}  class="img-fluid" alt=""></a>
                    </div>
                </td>

            </tr>
        </table>
     {% endfor %}
{% endblock %}