{% extends "playlists/index.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<body>

    <div id="bloquePrincipal">

        <div class="contenido">
            {% if loginError1 != "" and loginError2 != "" and errorType == "login_error" %}

                <h2 style="color:White;">Ha ocurrido un error al iniciar sesión.</h2>
                <h2 style="color:White;">Introduzca el usuario y contraseña de forma correcta.</h2>

            {% elif loginError1 != "" and loginError2 != "" and errorType == "register_error" %}

                <h2 style="color:White;">Ha ocurrido un error al registrarse.</h2>
                <h2 style="color:White;">Revise las instrucciones para registrase de forma correcta.</h2>

            {% else %}

                <div class="divLogin">
                     <h1>La mejor APP musical</h1>
                </div>

            {% endif %}


              <div class="container">
                <input type="radio" name="tab" id="signin" checked="checked"/>
                <input type="radio" name="tab" id="register"/>
                <div class="pages">
                  <div class="page">
                    {% crispy login_form login_form.helper %}
                  </div>
                  <div class="page signup">
                    {% crispy signup_form signup_form.helper %}
                  </div>
                </div>
                <div class="tabs">
                  <label class="tab" for="signin">
                    <div class="text">Iniciar sesión</div>
                  </label>
                  <label class="tab" for="register">
                    <div class="text">Registrarse</div>
                  </label>
                </div>
              </div>

        </div> 
    </div>
</body>

{% endblock%}