{% extends "playlists/index.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<body>

    <div id="bloquePrincipal">

        <div class="contenido">
            {% if errorType == "login_error" %}

                <h2 style="color:White;">Ha ocurrido un error al iniciar sesión.</h2>
                <h2 style="color:White;">Introduzca el usuario y contraseña de forma correcta.</h2>

            {% elif errorType == "register_error" %}

                <h2 style="color:White;">Ha ocurrido un error al registrarse.</h2>
                <h2 style="color:White;">Revise las instrucciones para registrase de forma correcta.</h2>

            {% else %}

                <div class="divLogin">
                     <h1>La mejor APP musical</h1>
                </div>

            {% endif %}

            <!-- Modal -->
            <!--
            <div class="container">
                <input type="radio" name="tab" id="signin" checked="checked"/>
                <input type="radio" name="tab" id="register"/>
                <div class="pages">
                  <div class="page">
                    <div role="tabpanel" class="tab-pane active" id="loginTab">
                        <p>{% crispy login_form login_form.helper %}</p>
                    </div>
                  </div>
                  <div class="page signup">
                    <div role="tabpanel" class="tab-pane" id="signupTab">
                        <p>{% crispy signup_form signup_form.helper %}</p>
                    </div>
                  </div>
                </div>
                <div class="tabs" role="tablist">
                    <a class="tab" href="#loginTab" aria-controls="loginTab" role="tab" data-toggle="tab" for="register">Iniciar sesión</a>
                    <a class="tab" href="#signupTab" aria-controls="signupTab" role="tab" data-toggle="tab" for="register">Registrarse</a>
                </div>
              </div> -->

              <div class="container">
                <input type="radio" name="tab" id="signin" checked="checked"/>
                <input type="radio" name="tab" id="register"/>
                <div class="pages">
                  <div class="page">
                    <p>{% crispy login_form login_form.helper %}</p>
                  </div>
                  <div class="page signup">
                    <p>{% crispy signup_form signup_form.helper %}</p>
                  </div>
                </div>
                <div class="tabs">
                  <label class="tab" for="signin">
                    <div class="text">Iniciar sesión</div>
                  </label>
                  <label class="tab" for="register">
                    <div class="text">Registrarse</div>
                  </label>
                </div>
              </div>

        </div> 
    </div>
</body>

{% endblock%}