{% extends "playlists/index.html" %}

{% block content %}

    <div class="divTable">
         <table class="table">
            <tr class="PlaylistHeaders" style="color:White;">
                <th align="center">Seleccionar</td>
                <th align="center">Nombre</td>
                <th align="center">Dueño</td>
                <th align="center">Canciones</td>
                <th align="center">Link en Spotify</td>
                <th align="center">Descripción</td>
            </tr>
            {% for x in array_table_elements %}
                <tr class="PlaylistRows" style="color:Lavender;">
                    <td align="center"><input type="checkbox" name="playlist-checkbox"/></td>
                    <td class="name" align="center">
                        <a href="{% url 'playlist_detail' playlist_id=x.playlist_id nombre_playlist=x.nombre %}">{{ x.nombre }}</a>
                    </td>
                    <td align="center">{{ x.dueño }}</td>
                    <td align="center">{{ x.canciones }}</td>
                    <td class="link" align="center">
                        <a id="tablelink" href={{ x.link }}>{{ x.link }}</a>
                    </td>
                    <td align="center">{{ x.descripcion }}</td>
                </tr>

                        <button id="anadirplaylist">
            <a href="{% url 'add_searched_playlist' playlist_id=x.playlist_id nombre_playlist=x.nombre%}">
            Guardar Playlist
        </button>
            {% endfor %}


         </table>
    </div>

     <div>


    </div>   


{% endblock %}
